main{
    padding-left: 2em;
    margin-bottom: 6em;
    padding-top: 2em;
}


#faqs, #contacts, a{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
}

a:hover {
    color: black;
}

h1 {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: rgb(200, 106, 24);
    margin: 0 0 1em 0;
}


li {
    margin: 0.5em 0;
}


#header_about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #333;
  }
  
  #header_about #logo_unauthenticated {
    height: 15vh;
  }
  
  #header_about #headerInfo {
    display: flex;
    align-items: center;
  }
  
  #header_about #headerInfo #faqs {
    margin-right: 20px;
  }
  
  #header_about #headerInfo a {
    color: #333;
    text-decoration: none;
  }
  #header_about #headerInfo a:hover {
    color: #333;
    text-decoration: underline;
  }
  
  .aboutText {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  
  @media (max-width: 600px) {
    #header_about {
      flex-direction: column;
      align-items: center;
    }
  
  
    #header_about #headerInfo a {
      font-size: 14px;
    }
    main{
      margin-top: 4em;
    }
  }