table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: rgb(200, 106, 24);
    color: white;
  }
  
  h1 {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    color: rgb(200, 106, 24);
    margin: 1em;
  }

  tr{
    border-bottom: 2px solid #00008b;
  }

  a:hover{
    text-decoration: underline;
  }


  @media (max-width: 600px) {
    table {
      width: 100%;
    }
  
    td, th {
      display: block;
      width: 100%;
      
      border-bottom: rgb(27, 27, 40);
    }
  
    td:first-of-type,
    th:first-of-type {
      width: auto;
    }
  }