table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  h1 {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    color: #4CAF50;
    margin: 1em;
  }

  tr{
    border-bottom: 2px solid #00008b;
  }

  
  .unblock-button {
    background-color: #c10f0f;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .unblock-button:hover {
    background-color: white;
    border-color: #c10f0f;
    color: red;
  }
  
  @media (max-width: 600px) {
    table {
      width: 100%;
    }
  
    td, th {
      display: block;
      width: 100%;
      
      border-bottom: rgb(27, 27, 40);
    }
  
    td:first-of-type,
    th:first-of-type {
      width: auto;
    }
  }