#header_contacts{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo_unauthenticated {
  height: 50px;
}

#headerInfo {
  display: flex;
  align-items: center;
}

#faqs, #about, a{
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  padding: 20px;
}

a:hover {
  color: black;
  text-decoration: underline;
}

main {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  padding-left: 2em;
  padding-top: 2em;
}

.contactInfo {
  width: 90%;
  padding: 20px;
  text-align: left;
  font-size: 1.2em;
  line-height: 1.5;
  color: #333;
  border-radius: 10px;
  margin-bottom: 2em;
}
  
#header_contacts{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  color: #333;
}

h1 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  color : rgb(200, 106, 24);
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 20px;
}
  
ul {
  padding: 0;
  margin: 0;
}
  
li {
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-left: 40px;
}

.projectLink {
  text-decoration: underline;
}

@media (max-width: 600px) {
  #header_contacts {
    flex-direction: column;
    align-items: center;
  }


  #header_contacts #headerInfo a {
    font-size: 14px;
  }
  main{
    margin-top: 4em;
  }
}
