#createProject, #projectUpdate, #taskUpdate {
    padding-bottom: 50px;
}

#createProject {
    padding-top: 150px;
}

#projectUpdate {
    padding-top: 5%;
    width: 90%;
}

#createProject > form, #projectUpdate > form {
    background-color: white;
    width: 50%;
    margin: auto;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 1px 1px 1px 1px;
    border-radius: 5px;
    padding-left: 2%;
    padding-top: 3%;
}

#projectName, #projectDetails {
    color: black;
    font-weight: bold;
    width: 80%;
    font-size: 14px;
    margin: auto;
    margin-bottom: 15px;
}

.projectUpdateForm {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.projectUpdateForm > label {
    margin-bottom: 2%;
}

#projectNewName, #projectNewDetails{
    width: 90%;
}

#projectName {
    margin-top: 25px;
}

#projectDetails, #projectNewDetails, #taskNewDetails {
    margin-bottom: 20px;
}

#createProjectButton, #updateProjectButton, #updateTaskButton {
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.createProjectForm > h4 {
    font-weight: 600;
    font-size: 22px;
    margin-left: 10%;
    margin-bottom: 5%;
}


@media only screen and (max-width: 768px) {

    #projectUpdate > form {
        width: 90%;
        margin-left: 10%;
        margin-top: 10%;
    }
}

@media only screen and (max-width: 468px) {

    #projectUpdate > form {
        width: 90%;
        margin-left: 10%;
        margin-top: 10%;
    }
}