
/* MUDAR SIZE DO INPUT DOS DETAILS */

main {
    padding-top: 20px;
    background-color: #EEEE;
    padding-left: 0%;
}

#createProject, #projectUpdate, #taskUpdate {
    padding-bottom: 50px;
}


#createProject > form, #projectUpdate > form {
    background-color: white;
    width: 50%;
    margin: auto;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 1px 1px 1px 1px;
    border-radius: 5px;
    padding-left: 2%;
    padding-top: 3%;
}

#projectName, #projectDetails 
/* #taskNewName, #taskNewDetails */
 {
    color: black;
    font-weight: bold;
    width: 40%;
    font-size: 14px;
    margin: auto;
    margin-bottom: 15px;
}

#projectNewName, #projectNewDetails{
    color: black;
    font-weight: bold;
    font-size: 14px;
    /* margin: auto; */
    margin-bottom: 15px;
    width: 70%;
}


#projectName, #projectNewName
/* #taskNewName  */
{
    margin-top: 25px;
}

#projectDetails, #projectNewDetails, #taskNewDetails {
    margin-bottom: 20px;
}

#createProjectButton, #updateProjectButton, #updateTaskButton {
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}



/* TEAM MEMBERS NAV */
#teamMembers {
    width: 150px;
    height: 70%;
    margin-top: 90px;
    margin-left: 50px;
    border-radius: 10px;
    padding-left: 10px;
    top: 50px;
    position: fixed;
    z-index: 1;  
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 1px 1px;
}

#teamMembersTitle {
    font-size: 30px;
    font-weight: bold;
    margin: auto;
}

hr {
    height: 2px;
    margin: 1rem 0;
    background-color: black;
    border: 0;
    opacity: 0.25;
}

.usernameCollaborator, .usernameCoordinator {
    color: black;
    font-size: 15px;
    background-color: white;
    padding-left: 10px;
}

.nav-item {
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap; */
}

.dropCButton {
    border: 0;
    background-color: white;
    color: grey;
    cursor: pointer;
    width: 10px;
}

.dropCButton:hover {
    color: black;
}

.coordinatorDropdown {
    display: none;
}

.dropdown-menu {
    border: none;
}

.dropdown-content {
    position: relative;
    left: 100px;
    bottom: 35px;
}

#chooseProfile {
    width: 20%;
    font-size: 14px;
    background-color: white;
}

.addToProject {
    font-size: 14px;
    text-align: left;
    padding-top: 10px;
    padding-left: 1%;
}

#addMembersTitle {
    font-size: 40px;
    font-weight: 600;
}

/* .addToProject > label {
    background-color: white;
    padding-bottom: 10px;
} */

#addMember {
    margin: auto;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.18) 1px 1px 1px 1px;
    margin-top: 15px;
}

