#offcanvasNavbarDark {
    padding-left: 1%;
    width: 70vw;
}

#offcanvasNavbarDarkLabelTask, #offcanvasNavbarDarkLabel {
    width: 60vw;
}

#offcanvasNavbarDarkLabelTask, #offcanvasNavbarDarkLabel {
    word-break: break-all;
}

.container {
    padding-bottom: 0;
    margin-bottom: 0;
}

#commentContainer {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

#divComments {
    background-color: transparent;
    border: none;
    color: white;
    padding-left: 0;
}

#divComments > div, #divComments > h4 {
    color: white;
}

#divComments > h4 {
    padding-left: 2%;
    padding-bottom: 2%;
}

.d-flex > img {
    background-color: white;
}

.commentInfo {
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.commentDate {
    font-size: 80%;
    color: #ddd;
}

.commentName {
    margin-right: 10px;
    font-weight: 600;
}

.commentText {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.editTaskForm {
    width: 60vw;
    padding-top: 20px;
    font-weight: 600;
    font-size: larger;
}

.editTask > input, .editTask > select, .editTask > textarea {
    font-weight: 600;
    font-size: 16px;
    color: #606c76;
}


.editTask {
    padding: 10px;
}


#updateTaskButton, #commentButton {
    margin-left: 1%;
}

#deleteTaskButton {
    margin-left: 5%;
}


@media only screen and (max-width: 768px) {
    #offcanvasNavbarDark {
      width: 70%;
    }
} 

@media only screen and (max-width: 425px) {
    #offcanvasNavbarDark {
      width: 100%;
    }

    #taskUpdate > form, .editTaskForm {
        margin-right: 0;
        width: 90%;
    }
} 





