#logo_unauthenticated {
    height: 15vh;
  }

#headerInfo {
    color: black;
    display: flex;
    flex-direction: row;
}

#header_faq{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #333;
    }

#about, #contacts, a{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
}

a:hover {
    color: black;
    text-decoration: underline;
}

main{
    padding: 2em;
}

main > h1{
    text-align: center;
    color: rgb(200, 106, 24);
}

#all_faqs{
    margin-bottom: 5em;
}

.faq {
    padding: 20px;
    width: 80vw;
    margin: 0 auto;
    background-color: #DDDD;
}

.faq-question {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.faq-answer {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
}

form {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px; /* Add a margin at the bottom of the form */
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form h1{
    text-align: center;
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: bold;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
    textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


@media (max-width: 600px) {
    #header_faq {
      flex-direction: column;
      align-items: center;
    }
  
  
    #header_faq #headerInfo a {
      font-size: 14px;
    }
  }