.headerContainer {
    background-color: white;
    padding-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    z-index: 3;
    position: sticky;
    align-items: center;
}

#headerContainer {
    background-color: white;
    margin-right: 0;
}

.link:hover {
    text-decoration: none;
}

.logo {
    width: 240px;
    justify-self: start;
    margin-left: 2%;
}

/* SEARCH */
#searchSection {
    margin: auto;
    /* width: 50%;  */
    display: flex;
}

#searchDiv {
    display: flex;
    flex-direction: column;
}


.searchDrop{
    width: 32vw;
    border-radius: 5px;
    padding: 0;
    border: solid 2px #dddd;
    height: 25vw;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#divResultProjects::-webkit-scrollbar {
    display: none;
}

.searchDrop > li > h2  {
    font-size: 110%;
    font-weight: bold;
    padding: 10px;
}

#divResultProjects > a > article, #divResultUsers > a > article, #divResultTasks > a > article {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#divResultProjects > article > h3, #divResultUsers > article > h3, #divResultTasks > article > h3 {
    font-size: 100%;
    padding: 10px;
}

#divResultProjects > a > article > h3, #divResultUsers > a > article > h3, #divResultTasks > a > article > h3 {
    font-size: 100%;
    color: black;
}

#divResultProjects > a > article:hover, #divResultUsers > a > article:hover, #divResultTasks > a > article:hover {
    cursor: pointer;
    background-color: #ddd;
}

#divResultProjects > a:hover, #divResultUsers > a:hover, #divResultTasks > a:hover {
    text-decoration: none;
}

/* ------------------------------------------------------ */

.notificationButton {
    background-color: white;
    position: relative;
    left: 14.5vw;
    border: 0;
}

.profileButton {
    background-color: white;
    position: relative;
    left: 14vw;
    border: 0;
    border: solid 1px black;
}

.logoutButton {
    background-color: white;
    border: 0;
}

#sideNavButton {
    display: none;
}

.allButtons {
    max-width: fit-content;
    margin: 0 !important;
    padding: 0;
}

.btn-group > button, .perfil {
    background-color: white;
    border: white;
}

#profileButton, #logoutButton {
    background-color: white;
    border: white;
}

#profileButton:hover, #logoutButton:hover {
    background-color: #d3d4d5;
    border: #c6c7c8;
}

.bi-bell {
    color: #606c76;
    font-size: 1.7vw;
}

.bi-person {
    color: #606c76;
    font-size: 1.7vw;
    opacity: 0.9;
}

.bi-box-arrow-right {
    color: #606c76;
    font-size: 1.7vw;
    opacity: 0.9;
    margin-right: 2px;
}

.bi-list {
    font-size: 1.7vw;
    opacity: 0.9;
    color: #606c76;
}



@media only screen and (max-width: 1400px) {
    #sideNavButton {
        display: block;
    }
} 

@media only screen and (max-width: 768px) {
    .logo {
        width: 100%;
    }

    #searchbar {
        font-size: 12px;
    }

    .allButtons {
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .bi-bell, .bi-person, .bi-box-arrow-right, .bi-list {
        font-size: 3vw;
        margin: 0;
        padding: 0;
    }
} 

@media only screen and (max-width: 425px) {
    .searchDrop{
        width: 60vw;
        height: 50vh;
    }
} 






