.headerContainer {
    display: grid;
    grid-template-columns: 1fr auto auto;
    background-color: white;
    padding-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    z-index: 3;
    position: sticky;
    justify-items: space-between;
}

.link:hover {
    text-decoration: none;
}

.logo {
    width: 240px;
    justify-self: start;
    margin-left: 2%;
}

#searchbar {
    width: 270px;
    font-size: 14px;
    font-weight: 600;
    margin: auto;
    margin-left: 30%;
}

.notifications > span {
    font-size: 20px;
}

.notifications {
    display: none;
}

.dropdown {
    width: 20%;
}

.dropdown-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
}


.notificationButton {
    background-color: white;
    position: relative;
    left: 14.5vw;
    border: 0;
}

.profileButton {
    background-color: white;
    position: relative;
    left: 14vw;
    border: 0;
    border: solid 1px black;
}

.logoutButton {
    background-color: white;
    border: 0;
}

.bi {
    display: grid;
    align-items: baseline;
}

.bi-bell {
    color: #606c76;
    font-size: 30px;
}

.bi-person {
    color: #606c76;
    font-size: 35px;
    opacity: 0.9;
}

.bi-box-arrow-right {
    color: #606c76;
    font-size: 35px;
    opacity: 0.9;
}

.bi-bell:hover, .bi-person:hover, .bi-box-arrow-right:hover {
    color: black;
    opacity: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 25px;
    background-color: transparent;
}


/* NOTIFICATIONS */

.bi-x {
    color:black;
    font-size: 30px;
}

.bi-x:hover {
    color:red;
}

.deleteNot {
    cursor: pointer;
    margin-left: 5%;
}

.notificationButton:hover, .profileButton:hover, .logoutButton:hover {
    background-color: transparent;
    opacity: 1;
    border-radius: 100px;
    color: black;
}

.notifications {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    display: none;
}

.list-group-flush {
    /* width: 18rem; */
    /* max-width: 18rem; */
}

li {
    /* width: 18rem; */

}

.text {
    max-width: 300px;
    display: flex;
    font-size: 20px;
}

li.list-group-item {
    font-size: 13px;
    justify-items: baseline;
    margin: 0%;
    display: flex;
    flex-direction: row;
}

.notificationDiv {
    margin: 0%;
}

.buttonsInvite {
    display: flex;
    flex-direction: column;
}

.buttonsInvite > form {
    margin: 3%;
}





