header{
    height: 90px;
    display: flex;
    justify-content: space-around;
    /* position: relative; */
    align-items: center;
}

body{
    margin: 0px;
}

.logo {
    width: 270px;
    margin-top: 4vw;
}

body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#headerInfo {
    /* margin: auto; */
    margin-top: 5vw;
    margin-left: 8vw;
    color: black;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}

#faq, #about, #contacts, a{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
}

a:hover {
    color: black;
}

#loginButton:hover {
    color: white;
}

.botao {
    margin-top: 5vw;
}


