body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    background: rgba(179, 77, 9, 0.93);
    display: flex;
    justify-content: center;
    align-content: center;
}

.center{
    background: white;
    border-radius: 1em;
    width: 35vw;
    height: 80vh;
    position: relative;
    top: 15%;
}

.center h1{
    text-align: center;
    padding-bottom:1em;
    border-bottom: 0.1em solid #666666;
}

.center form{
    padding: 0 2em;
}

form .txt_field{
    border-bottom: 0.1em solid #666666;
    margin: 1em 0;
}

.txt_field input{
    padding-left: 1em;
    width: 100%;
    height: 2.5em;
    font-size: 1em;
    border: none;
    outline-color: rgba(145, 71, 22, 0.93);
}

.forgot_pass{
    margin: -0.2em 0 1em 0.2em;
    color: #666666 ;
}

.forgot_pass:hover{
    text-decoration: underline;
    color:rgba(145, 71, 22, 0.93);
}

input[type="submit"]{
    width: 100%;
    height: 3em;
    border: 1px solid orange;
    background: rgba(179, 77, 9, 0.93);
    border-radius: 3em;
    font-size: 1.2em;
    color: white;
    font-weight: 2em;
}

input[type="submit"]:hover{
    background-color: rgba(145, 71, 22, 0.93);
}

.signup_link{
    margin: 2em 0;
    text-align: center;
    font-size: 1em;
    color: #666666;
}

.signup_link a{
    color: rgba(179, 77, 9, 0.93);
    text-decoration: none;
}
.signup_link a:hover{
    font-size:1.2em;
}