body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: white;
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo {
    width: 300px;
    justify-self: start;
    margin-left: 5%;
}

.loginBoard, .registerBoard {
    background-color: #D9D9D9;
    border-radius: 10px;
    width: 48vw;
    position: relative;
    display: grid;
    margin: auto;
    left: 7%;
    box-shadow: rgba(0, 0, 0, 0.18) 1px 1px 1px 1px;
}

.loginBoard {
    height: 28vw;
}

.registerBoard {
    height: 35vw;
}

.loginBoard h1, .registerBoard h1{
    color: #C35817;
    text-align: center;
    padding-top:1em;
    font-weight: bold;
    padding-bottom: 20px;
}

.loginBoard form, .registerBoard form {
    width: 55%;
    margin: auto;
}


#emailLogin, #passLogin, #nameReg, #usernameReg, #emailReg, #passwordReg, #passwordConfirmReg {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.18) 1px 1px 1px 1px;
}

.loginButton, .registerButton {
    display: grid;
    margin: auto;
    background-color: black;
    border: solid black;
    width: 150px;
    height: 40px;
    font-size: 15px;
}

form .loginField, form .registerField {
    border-bottom: 0.1em solid #666666;
    margin: 1em 0;
}

.forgotPass{
    margin: auto;
    text-align: center;
    color: #666666 ;
    font-size: 15px;
}

.forgotPass:hover, .signupLink a:hover{
    text-decoration: underline;
    color:black;
}

.signupLink, .loginLink {
    padding-top: 3%;
    margin: auto;
    text-align: center;
    font-size: 1em;
    color: #666666;
}

.signupLink a, .loginLink a{
    font-weight: bold;
    color: black;
    text-decoration: none;
}
