body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    height: 100vh;
}

.logo {
    width: 15%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.loginBoard, .registerBoard {
    background-color: #D9D9D9;
    border-radius: 10px;
    width: 48vw;
    position: fixed;
    top: 30vh;
    left: 27vw;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.18) 1px 1px 1px 1px;
}

.loginBoard {
    padding-bottom: 1%;
    
}


.registerBoard {
    padding-bottom: 2%;
}

.loginBoard h1, .registerBoard h1{
    color: #C35817;
    text-align: center;
    padding: 8%;
    font-weight: bold;
    font-size: 200%;
}

.loginBoard h1, .registerBoard h1 {
    position: relative;
    top: 10%;
}

.loginBoard form, .registerBoard form {
    margin: auto;
    width: 70%;
}   

#emailLogin, #passLogin, #nameReg, #usernameReg, #emailReg, #passwordReg, #passwordConfirmReg {
    margin: 5px;
    font-weight: bold;
}

#passReset, #newPassReset, #emailResetPass {
    margin: 10px;
    font-weight: bold;
}

#passwordConfirmReg {
    margin-bottom: 35px;
}

.loginButton, .registerButton, .resetPassButton {
    display: grid;
    margin: auto;
    width: 90%;
    height: 20%;
    font-size: 18px;
}

.loginButton, .resetPassButton {
    margin-top: 10%;
}

.resetPassButton {
    margin-left: 6%;
}

form .loginField {
    padding-bottom: 5%;
    margin: 1em 0;
}

form .resetField {
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 1em 0;
}

.loginField {
    display: flex;
    flex-direction: column;
}

.forgotPass{
    margin: auto;
    text-align: center;
    color: #666666 ;
    font-size: 80%;
    margin-bottom: 10px;
    padding-top: 2%;
}

.forgotPass:hover, .signupLink a:hover, .loginLink a:hover{
    text-decoration: underline;
    color:black;
}

.signupLink, .loginLink {
    padding-top: 3%;
    margin: auto;
    text-align: center;
    font-size: 90%;
    color: #666666;
}

.signupLink a, .loginLink a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .registerBoard {
        width: 50vw;
    }
} 

@media only screen and (max-width: 1024px) {
    .loginBoard, .registerBoard {
        width: 60vw;
        position: fixed;
        top: 30vh;
        left: 20vw;
    }

    .loginBoard h1 {
        font-size: 200%;
    }

    .logo {
        width: 30%;
    }
}  

@media only screen and (max-width: 425px) {
    .loginBoard, .registerBoard {
        width: 85vw;
        position: fixed;
        top: 30vh;
        left: 8vw;
    }

    .loginBoard h1 {
        font-size: 160%;
    }

    .logo {
        width: 50%;
    }
}  
