.not {
    width: 30vw;
    border-radius: 5px;
    padding: 0;
    border: solid 2px #dddd;
    max-height: 19vw;
    overflow: scroll;
    overflow-x: hidden;
    word-break: break-all;
}

.not::-webkit-scrollbar {
    display: none;
  }

.text {
    font-size: 100%;
}

.deleteNot {
    font-size: 30px;
}

li.list-group-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.deleteNot:hover {
    cursor: pointer;
}

.acceptInviteButton {
    margin: 5px;
}

.divNot > ul {
    border-bottom: solid 2px #dddd;
}



/* @media only screen and (max-width: 450px) {
    .not {
        width: 90vw;
    }

    .notificationDiv{
        scroll-behavior: smooth;
        height:400px;
        right: 0;
        width: 100%;
        overflow:scroll;
        overflow-x:hidden;
    }

}


@media only screen and (max-width: 400px) {
    .dropdown {
        max-width: max-content;
        width: 200%;
        z-index: 3;
    }
    
    .dropdown-menu {
        overflow-wrap: inherit;
        overflow: hidden;
    }

} */