#userName, #userUsername, #userEmail, #userPhone, #password, #new_password {
    width: 75%;
}

.col-sm-9 {
    padding: 15px;
}

.card-body, .mb-0 {
    font-size: 18px;
}

.card-body > h5 {
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
}

#otherprofile {
    height: 30vw;
}

#info, #projects {
    height: 14.5vw;
}

img {
    padding-top: 20px;
}

.col-sm-3 > label {
    position: relative;
    top: 20%;
}

#othersProfileBoard {
    background-color: white;
}

#userProjects {
    display: flex;
    flex-direction: column;
}

.userProjects {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: black;
}

#usersProjects h3 {
    font-size: 25px;
    color: black;
    padding: 2% 0% 0% 2%;
    display: flex;
    right: 10px;
}

#profile > h5 {
    font-size: 20px;
}

.row form {
    box-sizing: border-box;
}

.formsName, .formsUsername, .formsEmail, .formsPhone, .formsPassword, .formsNewPassword {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.mb-0 {
    text-align: left;
}

.card.mb-4 {
    border-radius: 5px;
}

#projectPhoto {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #EEEE;
    font-size: 15px;
    color: black;
    text-align: center;
    line-height: 150px;
    margin: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 1px 1px;
}
