main {
    background-color: #EEEE;
}

#userName, #userUsername, #userEmail, #userPhone, #password, #new_password {
    width: 75%;
}


.col-sm-9 {
    padding: 15px;
}

.card-body, .mb-0 {
    font-size: 18px;
}

.card-body > h5 {
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
}

#otherprofile, #info {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#info > .row {
    padding-top: 40px;
    padding-bottom: 40px;
}
