#userName, #userUsername, #userEmail, #userPhone, #password, #new_password {
    width: 75%;
}

#profileBoard {
    background-color: white;
}

#userProjects {
    display: flex;
    flex-direction: column;
}

.userProjects {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: black;
}

#userProjects h2 {
    font-size: 25px;
    font-weight: bold;
    color: black;
    padding-right: 60%;
}

.userProjects h3 {
    font-size: 18px;
}

.row form {
    box-sizing: border-box;
}

.formsName, .formsUsername, .formsEmail, .formsPhone, .formsPassword, .formsNewPassword {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.mb-0 {
    text-align: left;
}

.card.mb-4 {
    border-radius: 5px;
}


/* #updateProfileButton {
    position: relative;
} */

#updateProfileButton {
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

#projectPhoto {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #EEEE;
    font-size: 15px;
    color: black;
    text-align: center;
    line-height: 150px;
    margin: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 1px 1px;
}
