#userName, #userUsername, #userEmail, #userPhone, #password, #new_password {
    width: 75%;
    font-size: 15px;
}

#profileBoard {
    background-color: white;
}

.card-body > h5 {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

#profile {
    height: 29vw;
    padding-top: 10%;
    font-size: 18px;
}

#form {
    height: 29vw;
    padding-top: 5%;
}


.userProjects {
    display: flex;
    flex-direction: row;
}

#userProjects h3 {
    font-weight: bold;
    font-size: 25px;
    color: black;
    padding: 2% 0% 0% 2%;
    display: flex;
    right: 10px;
}


.row form {
    box-sizing: border-box;
}

.formsName, .formsUsername, .formsEmail, .formsPhone, .formsPassword, .formsNewPassword {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.mb-0 {
    text-align: left;
}

.card.mb-4 {
    border-radius: 5px;
}

#updateProfileButton {
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 5vw;
    font-size: 12px;
    justify-content: center;
}

#project {
    padding: 10px;
}

.projectPhoto {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #EEEE;
    font-size: 15px;
    color: black;
    line-height: 150px;
    margin: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 1px 1px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
