main {
  display: flex;
}

.navbar-fixed-left {
  display: block;
  position: sticky;
  padding-right: 2%;
  padding-left: 2%;
  float: left;
  width: 350px;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
}

.list-unstyled {
  margin-top: 10%;
}

.bi-chevron-down {
  display: inline;
  margin-right: 4px;
}


#favoriteProjectsTitle {
  font-weight: 600;
  font-size: 18px;
}

#newProject {
  margin-left: 13%;
}

@media only screen and (max-width: 1400px) {
  #projectSide {
    display: block;
  }
  
}  

@media only screen and (max-width: 1400px) {
  #projectSide {
    opacity: 0;
    width: 0;
    z-index: 1;
    height: 100vh;
    transition: linear .3s;
  }

  .navbar-fixed-left {
    width: 40vw;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
  }
  
} 

@media only screen and (max-width: 768px) {
  #projectSide {
    width: 0;
    opacity: 0;
    z-index: 2;
    max-width: 40%;
    /* height: 100vh; */
  }

  .navbar-fixed-left {
    width: 100vw;
    height: 40vh;
    overflow: scroll;
    overflow-x: hidden;
  }
  
} 


