main {
  display: flex;
}

.navbar-fixed-left {
  display: block;
  position: sticky;
  padding-right: 2%;
  padding-left: 2%;
  float: left;
  width: 350px;
  height: 180%;
  z-index: 0;
  overflow: hidden;
}

.list-unstyled {
  margin-top: 10%;
}

.bi-chevron-down {
  display: inline;
  margin-right: 4px;
}


#favoriteProjectsTitle {
  font-weight: 600;
  font-size: 18px;
}

#newProject {
  margin-left: 13%;
}

@media only screen and (max-width: 1400px) {
  #projectSide {
    display: none;
  }
  
}  

@media only screen and (max-width: 1024px) {
  .navbar-fixed-left {
    width: 250px;
  }
  
} 

@media only screen and (max-width: 768px) {
  .navbar-fixed-left {
    display: flex;
    z-index: 3;
    width: 100vw;
  }
  
} 


