#leftCol {
    width: 150px;
    overflow: hidden;
    bottom: 0;
    /* position: relative; */
}

.projectSide {
    overflow-y: scroll;
    background-color: #D9D9D9;
    display: block;
    position: relative;   
    float: left;
    width: 8vw;
    /* height: max-content; */
    left: 0;    
    padding-top: 40px;
    z-index: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    top: 2;
    padding-bottom: 200px;
}

.projectSideNav {
    color: black;
    font-weight: 600;
    justify-self: center;
}

.projectSideNav:hover {
    color: black;
    text-decoration: none;
}

.mySideProjects {
    padding-left: 5%;
}

.addProject {
    color: black;
    font-size: 30px;
    background-color: #EEEE;
    border-radius: 100px;
    border: none;
    width: 40px;
    margin: auto;
}

.addProject:hover {
    background-color: #EEEE;
    font-weight: bold;
}

.projectsPhoto {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #EEEE;
    font-size: 15px;
    color: black;
    /* text-align: center; */
    line-height: 150px;
    margin: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 1px 1px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    justify-self: baseline;
}

@media only screen and (max-width: 1100px) {
    #projectSide {
        display: none;
    }

}