*{
    background-color: #EEEE;
}

.form-select {
    background-color: #EEEE;
    padding: 0px;
}

/* .form-control {
    border: 2px solid rgba(187, 186, 186, 0.908);
} */

#boardView {
    width: 100%;
}

.boardView {
    display: flex;
    flex-direction: row;
    align-content: space-between; 
}

.row > h2 {
    text-align: left;
    color: black;
    font-weight: bold;
    font-size: 27px;
    border-bottom: 4px solid black;
    height: 50px;
}


.tasksToDo, .tasksDoing, .tasksDone {
    border-radius: 5px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.18) 1px 1px;
}

.tasksToDo > h3, .tasksDoing > h3, .tasksDone > h3 {
    background-color: rgba(187, 186, 186, 0.908);
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif'
}

.col {
    background-color: white;
}

#tasks {
    background-color: #EEEE;
    padding: 10px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.18) 1px 1px;
    border-radius: 5px;
    text-align: left;
}

.teamMembers {
    float: right;
    display: flex;
    flex-direction: column;
}

.editProjectButton {
    background-color: black;
    color: white;
    cursor: pointer;
    opacity: 0.9;
    font-weight: bold;
    font-size: 150%;
}

.editProjectButton:hover {
    opacity: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

