main {
    padding-top: 20px;
    background-color: #EEEE;
    padding-left: 2%;
}

.form-select {
    background-color: #EEEE;
    padding: 0px;
}

#createTask {
    margin-bottom: 40px;
}

#createTask > form {
    background-color: white;
    width: 50vw;
    margin: auto;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 1px 1px 1px 1px;
    border-radius: 5px;
}

#createTaskButton {
    width: 20vw;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#boardView {
    padding-bottom: 80px;
    padding-right: 2vw;
    margin: auto;
    max-width: 150vw;
}

.boardView {
    display: flex;
    flex-direction: row;
    align-content: space-between; 
}

.row > h2 {
    text-align: left;
    color: black;
    font-weight: bold;
    font-size: 27px;
    border-bottom: 4px solid black;
    height: 50px;
}


.tasksToDo, .tasksDoing, .tasksDone {
    border-radius: 5px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.18) 1px 1px;
}

.tasksToDo > h3, .tasksDoing > h3, .tasksDone > h3 {
    background-color: rgba(187, 186, 186, 0.908);
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
    color: black;
    font-size: 22px;
    text-align: left;
    font-weight: 600;
}

.task {
    background-color: white;
}

#tasks {
    background-color: #EEEE;
    padding: 10px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.18) 1px 1px;
    border-radius: 5px;
    text-align: left;
    font-size: 16px;
    margin-bottom: 5px;
}

#tasks:hover {
    font-weight: 600;
    text-decoration: none;
}

#page-item {
    border-radius: 20px;
    padding-top: 20px;
    margin: auto;
}

.editProjectButton {
    background-color: black;
    color: white;
    cursor: pointer;
    opacity: 0.9;
    font-weight: bold;
    font-size: 150%;
}

.editProjectButton:hover {
    opacity: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form-group, .form_select {
    background-color: white;
    padding: 10px;
}

.createTaskForm {
    background-color:white;
    width: 100vw;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
}

select.optionsPriority, select.optionsUserAssigned {
    font-weight: bold;
    font-size: 14px;
    color: #606c76;
    height: 40px;
    border-radius: 5px;
}

#taskName, #userEmail, #projectDetails {
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.allButtons {
    display: flex;
    justify-content: flex-start;
}

.Button {
    margin-right: 10px;
}

.w-5 {
    display: none;
}

@media only screen and (max-width: 490px) {
    #createTask > form {
        width: 85vw;
    }

}