main {
    padding-top: 20px;
    background-color: #EEEE;
    padding-left: 2%;
}

.form-select {
    background-color: #EEEE;
    padding: 0px;
}

/* .form-control {
    border: 2px solid rgba(187, 186, 186, 0.908);
} */

#createTask > form {
    background-color: white;
    width: 50%;
    margin: auto;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 1px 1px 1px 1px;
    border-radius: 5px;
}

#boardView {
    margin-left: -10px;
    padding-bottom: 80px;
}

.boardView {
    display: flex;
    flex-direction: row;
    align-content: space-between; 
}

.row > h2 {
    text-align: left;
    color: black;
    font-weight: bold;
    font-size: 27px;
    border-bottom: 4px solid black;
    height: 50px;
}


.tasksToDo, .tasksDoing, .tasksDone {
    border-radius: 5px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.18) 1px 1px;
}

.tasksToDo > h3, .tasksDoing > h3, .tasksDone > h3 {
    background-color: rgba(187, 186, 186, 0.908);
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    text-align: left;
    font-weight: 500;
}

.col {
    background-color: white;
}

#tasks {
    background-color: #EEEE;
    padding: 10px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.18) 1px 1px;
    border-radius: 5px;
    text-align: left;
}

/* .teamMembers {
    float: right;
    display: flex;
    flex-direction: column;
} */

.editProjectButton {
    background-color: black;
    color: white;
    cursor: pointer;
    opacity: 0.9;
    font-weight: bold;
    font-size: 150%;
}

.editProjectButton:hover {
    opacity: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* .createTask {
    background-color: white;
}

#createTask {
    display: none;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
} */

.form-group, .custom-select {
    background-color: white;

}

.createTaskForm {
    background-color:white;;
}

#createTask > form {
    /* display: none; */
    background-color: white;
}

select.optionsPriority, select.optionsUserAssigned {
    font-weight: bold;
    font-size: 14px;
    color: #606c76;
    width: 40%;}

#taskName, #userEmail {
    color: black;
    font-weight: bold;
    width: 40%;
    font-size: 14px;
}

#chooseProfile {
    width: 20%;
    font-size: 14px;
    background-color: white;
}

.addToProject {
    color: black;
    font-weight: bold;
    font-size: 14px;
    background-color: white;
    text-align: left;
    padding-top: 10px;
    padding-left: 1%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.18) 1px 1px;
}

.addToProject > label {
    background-color: white;
    padding-bottom: 10px;
}

.addMember {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.18) 1px 1px;
    padding: 5px;
}

#addMember {
    margin-left: -10px;
    padding: 10px;
}

#leaveProjectButton {
    position: absolute;
    z-index: 2;
    right: 8%;
}

#editProjectButton {
    position: absolute;
    z-index: 2;
    right: 18%;
    top: 14.5%;
}

.buttons {
    display: grid;
}


