.searchDrop{
  width: 30vw;
  border-radius: 5px;
  padding: 0;
  border: solid 2px #dddd;
  height: 25vw;
  overflow: scroll;
  overflow-x: hidden;
  /* margin: auto; */
}

#searchDiv {
    margin: auto;
    width: 25%;
}

#divResultProjects::-webkit-scrollbar {
    display: none;
}

#divResultProjects h2, #divResultUsers h2 {
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
}

#divResultProjects > a > article, #divResultUsers > a > article {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#divResultProjects > a > article > h3, #divResultUsers > a > article > h3 {
    font-size: 18px;
    color: black;
}

#divResultProjects > a > article:hover, #divResultUsers > a > article:hover {
    cursor: pointer;
    background-color: #ddd;
}

#divResultProjects > a:hover, #divResultUsers > a:hover {
    text-decoration: none;
}

