#boardView {
    margin-left: 2%;
    padding-bottom: 80px;
    padding-right: 2vw;
    margin-top: 10vh;
    max-width: 150vw;
    z-index: 0;
}

.addMemberButton {
    display: inline;
    height: 45px;
    margin-bottom: 5%;
}

.boardViewHeader {
    border-bottom: 4px solid black;
    margin: 0;
}

.col-6 > h2 {
    text-align: left;
    color: black;
    font-weight: bold;
    font-size: 170%;
    word-break: break-all;
}



.modal-title {
    font-weight: 600;
}

.modal-body > form {
    margin: auto;
}

#teamMembersBoard {
    bottom: 20%;
    background-color: white;
    padding: 1%;
    box-shadow: rgba(0, 0, 0, 0.18) 1px 1px 1px 1px;
    border-radius: 0 0 10px 10px;
    margin: auto;
    height:30%;
    overflow: scroll;
    overflow-x: hidden;
}

#teamMembersBoard::-webkit-scrollbar {
    display: none;
}

.members {
    margin: auto;
    width: 70%;
    align-items: start;
}

.members > div {
    padding: 1%;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #EEE;
    margin: 0.5%;
    border-radius: 5px;
}


.memberInfo a {
    color: black;
}

.addMemberButtonModal {
    font-size: 90%;
    margin-top: 2%;
}

.addToProject > label {
    font-weight: 600;
}

.add > input {
    width: 70%;
}

@media only screen and (max-width: 425px) {
    
    #teamMembersBoard {
        height: 50%;
    }
} 

@media only screen and (max-width: 425px) {

    .addMemberButton {
        font-size: 80%;
    }
    
}  

