.modal-title {
    font-weight: 600;
}

.modal-body > form {
    margin: auto;
}

#projectMembers {
    bottom: 20%;
    background-color: white;
    padding: 1%;
    box-shadow: rgba(0, 0, 0, 0.18) 1px 1px 1px 1px;
    border-radius: 5px;
    margin: auto;
}

.members {
    margin: auto;
    width: 70vw;
    align-items: start;
}

.members > li {
    padding: 1%;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #EEE;
    margin: 0.5%;
    border-radius: 5px;
}

.addMemberButton {
    display: flex;
}
